<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="{% url 'edit' task.id %}">
    <i class="fa fa-pencil-square-o"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add worked time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method='POST' class='form-popup' action="">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="worked_time" class="col-form-label">Value:</label>
                        <input name="worked_time" type="text" class="form-control" id="worked_time" placeholder="0.0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send Change</button>
                </div>
            </form>
        </div>
    </div>
</div>
