{% extends 'home.html' %}

{% block content %}
<div class="table-responsive container-md px-0">
<br />
<h2>Tasks</h2>
<br />
<table class="table table-striped table-hover">
    <caption>List of tasks</caption>
    <thead class="thead-dark">
        <tr>
            {% for head in tasks_head %}
            <th scope="col" class="col-2 text-center" style="width: 28%">{{ head }}</th>
            {% endfor %}
            <th scope="col" class="col-1" style="width: 28%">EDIT</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td scope="row">{{ task.title }}</td>
            <td>{{ task.description|slice:":13" }}{% if task.description|slice:"13:" %}...{% endif %}</td>
            <td>{{ task.remaining_time }}</td>
            <td>
                {% include 'edit.html' %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
